@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: LXGW_WenKai_TC;
    src: url(./assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

body {
    font-family: "LXGW_WenKai_TC", sans-serif;
}

.gradient-text-dark {
    background-image: linear-gradient(to right, #000000, #FFA500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
.gradient-text-light {
    background-image: linear-gradient(to right, #ffffff, #FFA500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .logo-light {
    filter: invert(0%);
  }
  
  .logo-dark {
    filter: invert(100%);
  }
  